extends ../layouts/default

block head
  title 欢迎来到 LoveWeimi

block body
  div#headerwrap
    div.container
      div.row.centered
        div.col-lg-8.col-lg-offset-2
          h1 
            | 微信时代
            br
            | 移动平台电商专家 
          h2 艾微米 loveweimi.com

  div.container.w
    div.row.centered
      br
      div.col-lg-4
        i.fa.fa-plane
        h4 关键字 
        p 这里需要添加很多很多文字内容：从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说。。。

      div.col-lg-4
        i.fa.fa-user
        h4 关键字 
        p 这里需要添加很多很多文字内容：从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说。。。

      div.col-lg-4
        i.fa.fa-trophy
        h4 关键字 
        p 这里需要添加很多很多文字内容：从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说。。。

   div.dg
     div.container
       div.row.centered
         h4 成功案例
         br
         div.col-lg-4
           div.tilt
             a(href="#")
               img(src="/assets/img/p01.png", alt="案例")
         div.col-lg-4
           div.tilt
             a(href="#")
               img(src="/assets/img/p02.png", alt="案例")
         div.col-lg-4
           div.tilt
             a(href="#")
               img(src="/assets/img/p03.png", alt="案例")

  div.container.wb
    div.row.centered
      br
      div.col-lg-8.col-lg-offset-2
        h4 我们提供一流的微信电商解决方案
        p 这里需要添加很多很多文字内容：从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说。。。
        p
          br
          br 
        p
      div.col-lg-2
      div.col-lg-10.col-lg-offset-1
        img.img-responsive(src="assets/img/munter.png", alt="")
  div#lg
    div.constainer
      div.row.centered
        h4 我们的客户
        div.col-lg-2.col-lg-offset-1
          img(src="assets/img/c01.gif", alt="")
        div.col-lg-2
          img(src="assets/img/c02.gif", alt="")
        div.col-lg-2
          img(src="assets/img/c03.gif", alt="")
        div.col-lg-2
          img(src="assets/img/c04.gif", alt="")
        div.col-lg-2
          img(src="assets/img/c05.gif", alt="")

  div#r
    div.container
      div.row.centered
        div.col-lg-8.col-lg-offset-2
          h4 感谢使用
            strong LoveWeimi 
          p 这里需要添加很多很多文字内容：从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说，从前有座山，山上有座庙，庙里有个老和尚，一天老和尚对小和尚说。。。



