extends ../layouts/default

block head
  title #{title} 

block body

  div.container#mysuccess
    div.row
      div.col-lg-8.col-lg-offset-2
        div.row
          div.col-lg-4
            img.pull-right#success_img(src="/assets/img/correct.png")
          h1.col-lg-8 #{success_msg} 
